@charset "UTF-8";

body {
	font-family : gulim;
	margin : 0px;
}

header {
	position : fixed;
	top : 0px;
	width : 100%;
	height : 80px;
	line-height : 80px;
	background-color : #cccccc;
	color : white;
	text-align : center;
	font-size : 35px;
}
nav {
	position : fixed;
	top : 80px;
	width : 100%;
	height : 30px;
	line-height : 30px;
	background-color : pink;
}
a {
	color:#ffffff;
	text-decoration:none;
	padding-left : 1rem;
	padding-right : 1rem;
}
section {
	position : fixed;
	top : 110px;
	width : 100%;
	height : 100%;
	background-color:#EAD5D5;
	text-align : center;
}

table, td, th {
	margin : auto;
	border-collapse : collapse;
	border : 1px solid black;
}
.box {
	padding : 1.5rem;
}
footer {
	position : fixed;
	bottom : 0px;
	width : 100%;
	height : 20px;
	line-height : 20px;
	background-color : #cccccc;
	text-align : center;
	font-size : 10px;
	color : white;
}